/target/
/.~lock.Shortest path calculations.ods#
/.~lock.Cornering ratio tuning.ods#
*2020.txt
*2021.txt
*2020.geojson
*2021.geojson
/Report/tut1 s1858833.aux
/Report/tut1 s1858833.synctex.gz
/Report/tut1 s1858833.dvi
/Report/tut1 s1858833.log
